<%= title %>
<h3>edit.ejs file</h3>

<!-- edit form -->
<form action="/myschedule" method="post">
  <label for="time">Time</label>
  <input value="<%= time %>" type="time" name="time" id="time" placeholder="new time" required>

  <label for="item">Event</label>
  <input value="<%= item %>" type="text" name="item" id="item" placeholder="new event" required>

  <label for="description">Description</label>
  <input type="text" name="description" id="description" placeholder="new description">

<button type="submit">edit event</button>
</form>
