
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nicePaper!</title>

    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
<!-- nav -->
<div>
  <ul>
    <li id="home"><a href="/">Home</a></li>
    <% if (role === '') { %>
      <li id="register"><a href="/register">Register</a></li>
    <% } %>

    <% if (role === 1 || role === 2) { %>
      <li id="schedule"><a href="/schedule">Schedule</a></li>
      <li id="profile"><a href="/profile">My Profile</a></li>
    <% } %>

    <% if (role === 1 || role === 2 || role === 3) { %>
      <li id="log_out"><a id="logout" href="">Logout</a></li>
    <% } %>
  </ul>
</div>

    <div>
      <%- body -%>
    </div><!-- /.container -->

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="/javascripts/registerAndLogin.js"></script>
    <script src="/javascripts/api/api_v1.js" charset="utf-8"></script>
  </body>
</html>
