
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nicePaper!</title>

    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
<!-- add nav here -->
<!-- Adam N, 10/9/17, 08:04 - adding very basic nav -->
<div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/myschedule">My Schedule</a></li>
    <li><a href="/users">Users</a></li>
  </ul>
</div>

    <div class="container">

      <h1>Welcome to Nice Paper</h1>
      <h2>This is from our layout file</h2>

      <%- body -%>

    </div><!-- /.container -->
<<<<<<< HEAD
<script
  src='http://code.jquery.com/jquery-3.2.1.min.js'
  integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
  crossorigin='anonymous'> </script>
<script src="/javascripts/register.js"></script>
=======

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <script src="/javascripts/api/api_v1.js" charset="utf-8"></script>
>>>>>>> 4df3babc99fe304038937a5d8b5ee3110fde02c6
  </body>
</html>
