<h1>Log in to Nice Paper</h1>

<form id="loginForm" action="/login" method="post">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" placeholder="Enter your email">
  <br>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password" placeholder="Enter your password">
<button type="submit" id="loginBtn">Login</button>
</form>
