<% if(typeof guest_profile == 'object' && guest_profile) { %>
<div id="renderNewGuest">Congratulations, your guest username is : <%= guest_profile[0].username %> and your guest password is:  <%= guest_profile[0].password %>, now just share this with your guests so they can see your schedule!</div>
<% } %>


<form id="newGuest" action="/profile" method="post">
  <label for="username">Guest Username:</label>
  <input type="text" id="username" name="username" placeholder="Please Enter the info for your guests" required>
  <br>
  <label for="guest_password">Guest Password:</label>
  <input type="text" id="password" name="password" placeholder="Create a password" required>
  <br>

  <button type="submit">Submit</button>
</form>
