<% if(typeof guest_profile == 'object' && guest_profile) { %>
<div id="renderNewGuest">Congratulations, your guest username is : <%= guest_profile[0].username %> and your guest password is:  <%= guest_profile[0].password %>, now just share this with your guests so they can see your schedule!</div>
<% } %>


<form id="newGuest" action="" method="post">
  <label for="username">Guest Username:</label>
  <input type="text" id="username" name="username" placeholder="Please Enter the info for your guests" required>
  <br>
  <label for="guest_password">Guest Password:</label>
  <input type="text" id="password" name="password" placeholder="Create a password" required>
  <br>
  <!-- <label for="first_name_1">First First Name:</label>
  <input type="text" id="first_name_1" name="first_name_1" placeholder="Please enter the first name of the first person" required>
  <br>
  <label for="last_name_1">First Last Name:</label>
  <input type="text" id="last_name_1" name="last_name_1" placeholder="Please enter the last name of the first person" required>
  <br>
  <label for="first_name_2">Second First Name:</label>
  <input type="text" id="first_name_2" name="first_name_2" placeholder="Please enter the first name of the second person" required>
  <br>
  <label for="last_name_2">Second Last Name:</label>
  <input type="text" id="last_name_2" name="last_name_2" placeholder="Please enter the last name of the second person" required>
  <br>
  <label for="wedding_date">Tentative Wedding Date:</label>
  <input type="text" id="wedding_date" name="wedding_date" placeholder="Please enter your tentative wedding date (this field is optional)"> -->

  <button type="submit" id="registerGuest">Submit</button>
</form>
