@@font-face {
  font-family: 'Gill Sans';
  src: url('gill-sans-light.ttf') format('truetype');
}

@component-active-bg:{
  background-color: #cae6f9
}

a {
  color: #00B7FF;
}

body {
  font-family: 'Gill Sans';
  padding: 50px;
}

.desert {
  background-color: #ffefd5;
}

.warm {
  background-color: #ebebeb;
}

.rain{
  background-color: #b9d5e8;
}

.mocha{
  background-color:  #493d37;
}

.mud{
  background-color: #8e8477;
}

.active{
  background-color: #cae6f9;
}
